#reLoadTable {
    display: none;
}

#selExample {
    line-height: 110%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 4px;
    min-width: 2.3em;
    font-family: serif;
    display: inline-block;
    margin-top: 5px;
}

#selExample span {
    color: blue;
}

.subOption {
    list-style: none;
    margin-left: -24px;
}

.pointerCursor  {
    cursor: pointer;
}


/* Bootstrap */
/* ================================================================== */
.navbar-brand {
    padding: 8px;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
    -webkit-box-shadow: 0 3px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px 3px rgba(0,0,0,0.75);
}

.navbar-center {
    width: 100%;
    text-align: center;
    float: none;
    display: inline-block;
}

.navbar-hidden {
    visibility: hidden;
}

.glyphicon-size18 {
    top: 4px; 
    font-size: 18px;
}

.popover {
    width:auto!important;
    max-width: none
}


/* Virtual Keyboard */
/* ================================================================== */
.vkeyboard {
    width:800px;
    height: 330px;
    color: #e6e6e6;
    background-color: #0d0d0d;
    margin: 0px auto;
    border-radius: 9px;
    padding: 30px;
}

.vklogo {
    width: 320px;
    height: 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #e6e6e6;
    background-color: #333333;
    margin: -10px 300px 0px auto;
    padding-top: 1px;
    border-radius: 10px;
}
.vklogo:hover {box-shadow:0px 0px 10px #ffffff; z-index:1000;}

.vklights {
    float: right;
    position: relative;
    top: -36px;
    right: 6px;
}
.vklights span {margin:0 20px 0 20px; padding:0; text-align: center;}
.vklights span:after {
    content:"";
    width:10px;
    height:10px;
    top: 22px;
    margin-left:-9px;
    background-color:#99ff99;
    position:absolute;
    border-radius: 5px;
}

.vkey {
    width: 36px;
    height:36px;
    display:block;
    background-color:#333333;
    line-height: 29px;
    border-radius:2px;
    float:left;
    margin: 2px 2px 2px 2px;
    padding-top:4px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.7s ease;
}
.vkey:hover {box-shadow:0px 0px 10px #ffffff; z-index:1000;}

.vkeycolor {color: #ffff99 !important;}
.vkspace1 {margin-right: 28px !important;}
.vkspace2 {margin-right: 18px !important;}
.vkspace3 {margin-right: 62px !important;}
.vkwidth40 {width:40px !important;}
.vksmallfont {font-size: 10px; line-height: 18px; padding-top:0px !important;}
.vkdual {line-height: 18px; padding-top:0px !important;}
.vkbackspace {width:84px;}
.vktab {width: 56px;}
.vkslash {width:64px;}
.vkcaps {width:70px; font-size:10px; line-height:18px;}
.vkenter {width:90px;}
.vkshiftleft {width: 96px;}
.vkshiftright {width: 104px}
.vkctrl {width: 50px}
.vkspace {width:226px;}
