#selExample {
    line-height: 110%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 4px;
    min-width: 2.3em;
    font-family: serif;
    display: inline-block;
    margin-top: 5px;
}

#selExample span {
    color: blue;
}

.subOption {
    list-style: none;
    margin-left: -24px;
}

.pointerCursor  {
    cursor: pointer;
}


/* Bootstrap */
/* ================================================================== */
.navbar-brand {
    padding: 8px;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
    border-radius: 5px;
    background: none no-repeat scroll 0 0 #fff;
    -webkit-box-shadow: 0 3px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px 3px rgba(0,0,0,0.75);
}

.navbar-center {
    width: 100%;
    text-align: center;
    float: none;
    display: inline-block;
}

.navbar-hidden {
    visibility: hidden;
}

.glyphicon-size18 {
    top: 4px;
    font-size: 18px;
}

.popover {
    width:auto!important;
    max-width: none
}
