#reLoadTable {
    display: none;
}

#selExample {
    line-height: 110%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 4px;
    min-width: 2.3em;
    font-family: serif;
    display: inline-block;
    margin-top: 5px;
}

#selExample span {
    color: blue;
}

.navbar-center {
    width: 100%;
    text-align: center;
    float: none;
    display: inline-block;
}

.spacerToFooter {
    visibility: hidden;
}


/* input-spinner */
/* ================================================================== */
.spinner-input {
    width: 200px;
}
