[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/EasyIME/libuv.git
[submodule "libIME2"]
	path = libIME2
	url = https://github.com/EasyIME/libIME2.git
