<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER_CHEEZ">
      <Directory Id="dir_IM_Cheez_2245023265ae4cf8" Name="config" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="IM_Cheez">
      <Component Id="cmp_IM_Cheez_743b1adbf37db12e" Directory="INSTALLFOLDER_CHEEZ" Guid="*">
        <File Id="fil_IM_Cheez_743b1adbf37db12e" KeyPath="yes" Source="$(var.CheezDir)\__init__.py" />
      </Component>
      <Component Id="cmp_IM_Cheez_8f4cea6c4d9f00fe" Directory="INSTALLFOLDER_CHEEZ" Guid="*">
        <File Id="fil_IM_Cheez_8f4cea6c4d9f00fe" KeyPath="yes" Source="$(var.CheezDir)\cheez_ime.py" />
      </Component>
      <Component Id="cmp_IM_Cheez_c4d3523ea2db9d4e" Directory="INSTALLFOLDER_CHEEZ" Guid="*">
        <File Id="fil_IM_Cheez_c4d3523ea2db9d4e" KeyPath="yes" Source="$(var.CheezDir)\icon.ico" />
      </Component>
      <Component Id="cmp_IM_Cheez_cc35d4b8e796c869" Directory="INSTALLFOLDER_CHEEZ" Guid="*">
        <File Id="fil_IM_Cheez_cc35d4b8e796c869" KeyPath="yes" Source="$(var.CheezDir)\icon.png" />
      </Component>
      <Component Id="cmp_IM_Cheez_6b646d3c105145aa" Directory="INSTALLFOLDER_CHEEZ" Guid="*">
        <File Id="fil_IM_Cheez_6b646d3c105145aa" KeyPath="yes" Source="$(var.CheezDir)\ime.json" />
      </Component>
      <Component Id="cmp_IM_Cheez_03df4b552ccaaaab" Directory="dir_IM_Cheez_2245023265ae4cf8" Guid="*">
        <File Id="fil_IM_Cheez_03df4b552ccaaaab" KeyPath="yes" Source="$(var.CheezDir)\config\config.html" />
      </Component>
      <Component Id="cmp_IM_Cheez_ff1772f82f619339" Directory="dir_IM_Cheez_2245023265ae4cf8" Guid="*">
        <File Id="fil_IM_Cheez_ff1772f82f619339" KeyPath="yes" Source="$(var.CheezDir)\config\config.js" />
      </Component>
      <Component Id="cmp_IM_Cheez_6a02156604c06bec" Directory="dir_IM_Cheez_2245023265ae4cf8" Guid="*">
        <File Id="fil_IM_Cheez_6a02156604c06bec" KeyPath="yes" Source="$(var.CheezDir)\config\config.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
