a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 2px;
}

kbd {
    line-height: 1.3;
    display: inline-block;
    margin: 0 0.3em;
    padding: 0.1em 0.6em;
    white-space: nowrap;
    color: #242729;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    background-color: #e1e3e5;
}

.btn-group {
    width: 12em !important;
}

textarea {
    min-height: 400px;
}

.tab-content {
    min-height: 400px;
    margin-top: 1em;
}

.nav {
    margin-top: 2em;
}

.tab-pane {
    padding: 1em 0 0 2em;
}

.custom-control {
    padding-top: 3px;
}

#ok {
    margin-top: 1em;
}

.config_section:nth-child(n+2) {
    padding-top: 1em;
}

.config_section h1 {
    font-size: 120%;
    font-weight: bold;
    margin-left: -1em;
    padding: 0 0 0.3em 0;
    border-bottom: 1px solid #aaaaaa;
}

#ui_tab input[type="number"] {
    width: 80px;
}

#selExample {
    font-family: serif;
    line-height: 110%;
    display: inline-block;
    min-width: 2.3em;
    margin-top: 0.5em;
    padding: 4px;
    border-top: 1px solid grey;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid grey;
    background-color: white;
}

#selExample span {
    font-family: monospace;
    color: blue;
}

#keyboard_tab #keyboard_layouts {
    display: block;
    float: right;
    width: 70%;
    margin: 2em 5em 0 0;
    box-shadow: 5px 6px #888888;
}

#ui_tab .btn {
    text-transform: none;
}
