a[target="_blank"]::after {
    font-family: "FontAwesome";
    margin: 0 3px 0 1px;
    content: "\f08e";
}

kbd {
    line-height: 1.3;
    display: inline-block;
    margin: 0 0.3em;
    padding: 0.1em 0.6em;
    white-space: nowrap;
    color: #242729;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    background-color: #e1e3e5;
}

.btn-group {
    width: 12em !important;
}

textarea {
    min-height: 400px;
}

#top_box {
    margin-left: 17em;
}

.tab-content {
    min-height: 400px;
    margin-top: 1em;
}

.nav {
    margin-top: 2em;
}

#ok {
    margin-top: 1em;
}

.config_section {
    padding-left: 2em;
}

.config_section h1 {
    font-size: 120%;
    font-weight: bold;
    margin-left: -1em;
    padding: 0 0 0.3em 0;
    border-bottom: 1px solid #aaaaaa;
}

#selExample {
    font-family: serif;
    line-height: 110%;
    display: inline-block;
    min-width: 2.3em;
    margin-top: 0.5em;
    padding: 4px;
    border-top: 1px solid grey;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid grey;
    background-color: white;
}

#selExample span {
    font-family: monospace;
    color: blue;
}

#keyboard_tab #keyboard_layouts {
    display: block;
    float: right;
    width: 70%;
    margin: 2em 5em 0 0;
    box-shadow: 5px 6px #888888;
}

#ui_tab .btn {
    text-transform: none;
}

#user_phrase_buttons {
    position: fixed;
    width: 15em;
    height: 95%;
    margin: 4px;
    padding: 1em 1em 0 0;
    border-right: 2px solid grey;
}

#user_phrase_buttons #phrase_count {
    position: absolute;
    padding: 1em;
}

#phrase_table {
    width: 100%;
}

#phrase_table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

#phrase_table #phrase, #phrase_table #delete_phrase {
    width: 12em;
}

#phrase_table #bopomofo {
    width: 25em;
}

#table_content tr:hover, .phrase_selected {
    background-color: #eab342;
}

#table_content .phrase_selected {
    font-weight: bold;
}

.fixed_dialog {
    position: fixed;
}

.bopomofo_display {
    /* for bopomofo display*/
    font-family: sans-serif !important;
}
