a[target="_blank"]:hover:after {
  font-family: "FontAwesome";
  content: "\f08e";
  vertical-align: super;
  margin-left: 3px;
}

#symbols, #ez_symbols, #ui_page {
    width: 100%;
    min-height: 320px;
}

#config_buttons {
    position: relative;
    float: right;
    margin: 4px;
}

#ui_page {
    height: auto !important;
}

#selExample {
    font-family: serif;
    line-height: 110%;
    display: inline-block;
    min-width: 2.3em;
    margin-top: 5px;
    padding: 4px;
    border-top: 1px solid grey;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid grey;
    background-color: white;
}

textarea {
    min-height: 300px;
}

#selExample span {
    color: blue;
}

#top_box {
    width: 60%;
    margin: auto;
}

#user_phrase_buttons {
    position: fixed;
    margin: 4px;
    padding: 1em 1em 0 0;
    border-right: 2px solid grey;
    height: 95%;
    width: 12em;
}

#user_phrase_buttons #phrase_count {
    padding: 1em;
    position: absolute;
}

#phrase_table {
    width: 100%;
}

#phrase_table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

#phrase_table #phrase, #phrase_table #delete_phrase {
    width: 12em;
}

#phrase_table #bopomofo {
    width: 25em;
}

#table_content tr:hover, .phrase_selected {
    background-color: #eab342;
}

#table_content .phrase_selected {
    font-weight: bold;
}

.fixed_dialog {
    position: fixed;
}

#bopomofo_input {
    /* for bopomofo display*/
    font-family: sans-serif;
}
