
# node
!/node_modules
/node_modules/*

# npm
*.log

# emojione
!/node_modules/emojione
/node_modules/emojione/*
!/node_modules/emojione/package.json
!/node_modules/emojione/lib/
/node_modules/emojione/lib/*
!/node_modules/emojione/lib/js/
/node_modules/emojione/lib/js/*
!/node_modules/emojione/lib/js/emojione.js
